@font-face {
  font-family: developeFont;
  src: url(assets/consolas.TTF);
}

@font-face {
  font-family: developeBoldFont;
  src: url(assets/consolas-bold.TTF);
}

html,
body {
  position: relative;
  overflow-x: hidden;
  background-color: var(--bg-color) !important;
  user-select: none;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.settings {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.settings > div {
  margin-right: 15px;
  cursor: pointer;
}

.theme-switch {
  font-size: 40px;
}

.light-theme-icon {
  color: #ffc800;
}

.dark-theme-icon {
  color: #fff3c8;
}

.language-switch {
  width: 40px;
  height: 40px;
}

.language-switch img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.section-container {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-content {
  width: 100%;
}

.start-content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.start-header{
  display: flex;
  align-items: center;
}

.header-text {
  color: var(--text-color);
  font-family: developeFont;
}

.caret {
  width: 1px;
  margin-left: 0.5em;
  background-color: var(--text-color);
  animation: caret 1.2s infinite;
}

.about-text {
  color: var(--text-color);
}

.about-sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-sm .my-pic{
  float: right;
}

.about-lg {
  display: flex;
  align-items: center;
}

.my-pic {
  width: 40%;
  max-width: 400px;
  margin-left: 4%;
  border-radius: 50%;
  border: 4px solid var(--icon-color);
  box-shadow: 5px 5px 5px 1px #00000060;
}

.section-container__work {
  display: block;
}

.subheader {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 3.5%;
  justify-content: center;
}

.subheader-text {
  width: fit-content;
  margin: 0 5%;
  color: var(--text-color);
  font-family: developeFont;
}

.header-stripe {
  width: 20%;
  height: 2px;
  background-color: var(--icon-color);
}

.about-content {
  display: flex;
  align-items: center;
}

.about-text-header {
  font-family: developeBoldFont;
}

.about-text-body {
  font-family: developeFont;
}

.text-content {
  color: var(--text-color);
}

.slideshow-container {
  margin: 0 auto;
  height: auto;
  position: relative;
}

.gallery-container {
  width: 100%;
  grid-gap: 8px;
}

.gallery-pic-container {
  width: 100%;
  position: relative;
  box-shadow: 0 0 8px 1px #00000080;
}

.picture-container {
  width: 100%;
  position: relative;
  box-shadow: 0 0 8px 1px #00000080;
}

.gallery-picture {
  width: 100%;
}

.picture-info-bg {
  background-color: #000000c0;
  width: 100%;
  height: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transform: rotateX(180deg);
  transform-origin: top;
  display: flex;
  align-items: center;
}

.picture-info-bg-ss {
  background-color: #000000c0;
  width: 100%;
  height: 25%;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
}

.gallery-pic-container:hover {
  box-shadow: 0 0 0 3px var(--highlight-color);
}

.gallery-pic-container:hover > .picture-info-bg {
  height: 25%;
}

.picture-info {
  font-size: 1.3vw;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  width: 100%;
  height: 25%;
  padding: 1% 2% 0 2%;
  transform: none;
  visibility: hidden;
  display: flex;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
}

.picture-info-ss {
  font-size: 3vw;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  width: 100%;
  height: 25%;
  padding: 1% 2% 0 2%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
}

.gallery-pic-container:hover > .picture-info{
  visibility: visible;
}

.slide-control {
  font-size: 2.5em;
  color: #ffffffc0;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.previous-button {
  left: 0;
  transform: translateY(-50%);
  
}

.next-button {
  left: 100%;
  transform: translate(-100%, -50%);
}

.slide-control:hover {
  font-size: 3em;
}

.section-container__contact {
  display: flex;
  flex-direction: column;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail-link {
  display: flex;
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2%;
  user-select: all;
}

.mail-link i {
  color: var(--icon-color);
}

.mail-link > i {
  margin-right: 3%;
}

.link-icons-container {
  display: flex;
  justify-content: center;
  width: 160px;
}

.link-icon{
  margin: 0 10%;
  color: var(--icon-color);
}

.link-icon a:hover {
  color: var(--highlight-color);
}

@media (orientation: landscape) {
  .section-content{
    width: 100%;
  }

  .slideshow-container {
    width: 100%;
  }
}

@media (orientation: portrait) {
  .section-container {
    width: 100vw;
  }

  .section-content{
    width: 100%;
  }

  .slideshow-container {
    width: 100%;
  }

  .link-container {
    width: 70%;
    max-width: 500px;
  }

  .link-container > div {
    width: 100%;
  }
}

@media (min-width: 100px) {
  .header-text {
    font-size: 2.2em;
  }

  .caret {
    height: 2.2em;
  }

  .subheader-text {
    font-size: 2em;
  }

  .about-sm {
    display: block;
  }

  .about-lg {
    display: none;
  }

  .section-container > .section-content:not(:last-child) {
    margin-bottom: 15%;
  }

  .about-text-header {
    font-size: 2em;
  }

  .about-text-body {
    font-size: 1.25em;
  }

  .gallery-container {
    display: none;
  }

  .slideshow-container {
    display: flex;
  }

  .slideshow-container img {
    width: 100%;
    object-fit: cover;
  }

  .mail-link {
    font-size: 1.2em;
  }

  .link-icon {
    font-size: 2.4em;
  }
}

@media (min-width: 600px){
  .mail-link {
    font-size: 1.4em;
  }

  .link-icon {
    font-size: 2.8em;
  }
}

@media (min-width: 768px){
  .header-text {
    font-size: 3.5em;
  }

  .section-container > .section-content:not(:last-child) {
    margin-bottom: 10%;
  }

  .section-content {
    width: 80%;
  }

  .subheader-text {
    font-size: 3em;
  }

  .caret {
    height: 3.5em;
  }

  .about-sm {
    display: none;
  }

  .about-lg {
    display: flex;
  }

  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
  }

  .slideshow-container {
    display: none;
  }
}

@media (min-width: 1100px) {
  .section-container > .section-content:not(:last-child) {
    margin-bottom: 5%;
  }

  .header-text {
    font-size: 5vw;
  }

  .caret {
    height: 5vw;
  }
  
  .about-text-header {
    font-size: 3.6em;
  }

  .about-text-body {
    font-size: 1.8em;
  }

  .slideshow-container img {
    width: 100%;
  }

  .mail-link {
    font-size: 1.5em;
  }
}

@media (min-width: 1600px) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
  }

  .section-content {
    width: 70%;
  }

  .picture-info {
    font-size: 13px;
  }
}

@media (min-width: 1920px) {
  .picture-info {
    font-size: 16px;
  }
}

@keyframes caret {
  0% {
    opacity: 100%;
  }

  49% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }

  99% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

